
.home-heading {
    font: bold;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: bisque;
}

.home-side-bar a {
    font-weight: bold;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    background: white;
    margin: 20px;
    padding: 10px;
    border: 0.75px solid black;
    width: 108px;
    height: 35px;
    display: flex;
    align-items: center;
}

.home-side-bar a:hover {
    color: white;
    background-color: #3E3A3A;
}




.home-recipes {
    font: bold;
    font-size: 14px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    background-color: bisque;
}

.home-recipes-links-and-images {
    list-style-type: none;
}

.chocolate-cake-link,
.corn-link {
    color: black;
}